.corpo{
    min-height: 80vh;
    margin-bottom: 10px;
}
.btnHome{
    background-image: url('../../assets/Lzff.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    color: rgb(255, 106, 0);
    font-weight: bolder;
    width: 20%;
}
ul{
    list-style: none;
}
@media screen and (max-width: 500px) {
    .corpo {
        min-height: 55vh;
    }
}
